%form{ :action => "/create", :method => "post"}
	%p
		Name:
		%input{ :name => "name", :type => "text", :size => "30"}
	%p
		Password:
		%input{ :name => "password", :type => "password", :size => "30"}
	%p
		Email:
		%input{ :name => "email", :type => "text", :size => "30"}
	%p
		%input{ :name => "submit", :type => "submit", :value => "Submit"}