!!!
%html
	%head
		%title Econ
		%script{ :type => "text/javascript", :src => "http://static.wowhead.com/widgets/power.js"}
		%link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css"}
		%link{ :href => "/extra.css", :rel => "stylesheet", :type => "text/css"}
	%body
		#body
			#wrapper
				%header#header.clearfix
					%h1.left
						%a{:href => "/"} Econ
					%nav.right
				%section#container= yield :content
				%footer#footer.clearfix
					%ul.left
						%li Cocks and Oreos
					%ul.right	
						%li
							%a{:href => "http://www.corgasm.org"} Corgasm
						%li
							%a{:href => "http://localhost:9292/"} Torrent
						%li
							%a{:href => "http://s.corgasm.org"} Short
						%li
							%a{:href => "http://dump.corgasm.org"} Dump
						%li
							%a{:href => "http://code.corgasm.org"} Code
						%li
							%a{:href => "http://git.corgasm.org"} Git
			.debug
				%pre
					- if @results then
						- @results.each do |x|
							= CGI.escapeHTML(x.inspect)