!!!
%html
	%head
		%title Code
		%script{ :type => "text/javascript", :src => "/ZeroClipboard.js"}
		%script{ :type => "text/javascript"} ZeroClipboard.setMoviePath('/ZeroClipboard.swf');
		%link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css"}
		%link{ :href => "/extra.css", :rel => "stylesheet", :type => "text/css"}
	%body
	#wrapper
		%header#header.clearfix
			%h1.left
				%a{:href => "/"} Code
			%nav.right
				%ul
					%li
						%a{:href => "/new"} New
		%section#container= yield
		%footer#footer.clearfix
			%ul.left
				%li Cocks and Oreos
			%ul.right	
				%li
					%a{:href => "http://www.corgasm.org"} Corgasm
				%li
					%a{:href => "http://localhost:9292/"} Torrent
				%li
					%a{:href => "http://s.corgasm.org"} Short
				%li
					%a{:href => "http://dump.corgasm.org"} Dump
				%li
					%a{:href => "http://code.corgasm.org"} Code
				%li
					%a{:href => "http://git.corgasm.org"} Git